*{
margin: 0;
padding: 0;
outline: none;
}

body {
    width: 100%;
    height: 100%;
   
    font-size: 1em;
    line-height: 135%;
    color: rgb(12, 131, 20);
    background-color: black;
    margin-top: 10px;
}

header,
footer {
    width: 98%;
    background-color: antiquewhite;
    min-height: 50px;
}

header {
    border-bottom: 2px solid slategrey;
   padding: 1%;
}

footer {
   border-bottom: 2px solid slategrey;
   padding: 1%;
}

h1  {
    font-size: 24px;
    color: orange;
    border-bottom: 2px dotted lime;
    padding-bottom: 10px;
    padding-top: 15px;
    padding-right:30px;
    padding-bottom: 15px;
    padding-left: 30px;
}

h2 {
    font: italic 20px  Times, serif;
    color: #ccc;   text-indent: 15px;
    padding-top: 15px;
    padding-right:30px;
    padding-bottom: 15px;
    padding-left: 30px;
   }



p   {
    border-bottom: 2px dotted lime;
    padding-top: 15px;
    padding-right:30px;
    padding-bottom: 15px;
    padding-left: 30px;
}


img, a, h3 {
    
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
}
a{
    color: tomato;
    text-decoration: none;
    transition: all.6s ease;
    
}

a :hover{
    color: #0b18d8;
    text-decoration: none;
    transition: all.6s ease;

}
 a:active {
     color: rgb(44, 155, 81);
 }
 .rigth {
     float: right;
 }
 .bar{
     list-style-type: none;
     padding-left: 0;
     margin-left: 0;
 }
 .bar a{
text-decoration: none;
font-family: sans-serif;
color: #000;
display: inline-block;
padding: 10px 20px;
background-color: springgreen;
border-bottom: 5px solid #5757a0;
overflow: hidden;
 }
 .bar li{
     float: left;
 }
 .h2{
font-size: 24px;
color: orange;
border-bottom: 2px dotted lime;
padding-bottom: 10px;

 }

 .p{
      border-bottom: 2px dotted lime;
      padding-top: 15px;
      padding-right:30px;
      padding-bottom: 15px;
      padding-left: 30px;
 }

 .leftimg {
     float: left;
     /* Выравнивание по левому краю картинки */
     margin: 7px 7px 7px 0;
     /* Отступы вокруг картинки */
 }
 .episodeGuide-episodeMeta{
padding-top: 45px;
padding-right:30px;
padding-bottom: 15px;
padding-left: 30px;
margin: 10px;
border: ;
 }

 