body {
    font: 14px Verdana, Arial, Helvetica, sans-serif;
    color:
        white;
    background-color: black;
    margin-top: lOpx;
}

h1  {
    font-size: 24px;
    color: orange;
    border-bottom: 2px dotted lime;
    padding-bottom: lOpx;
}

h2 {
    font: italic 20px Georgia, Times, serif;
    color: #ccc text-indent: 15px;
}



p   {
    border-bottom: 2px dotted lime;
    padding-top: 15px;
    padding-right:30px;
    padding-bottom: 15px;
    padding-left: 30px;
}


img, a {
    
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 30px;
}